<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("includes/head") %> 
    <script src="/scripts/form.js" defer></script>
    <style>
        form{
            text-align: center;
        }
        #overlay{
            position: fixed; /* Sit on top of the page content */
            display: none; 
            width: 100%; /* Full width (cover the whole page) */
            height: 100%; /* Full height (cover the whole page) */
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.5); /* Black background with opacity */
            z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
            cursor: pointer; /* Add a pointer on hover */
        }
    </style>
</head>
<body>
    <div id="overlay"></div>
    <form id="user-form">
        <p>
            <label for="name">Name</label>
            <input type="text" name="name" id="name">
        </p>

        <p>
            <label for="age">Age</label>
            <input type="number" name="age" id="age">
        </p>

        <button type="submit">Submit</button>
    </form>

    <section id="user-detail"></section>
</body>
</html>